/* --------- */
/* Universal */
/* --------- */

.top-row {
    display: flex;
    margin: 10px;
}

.header {
    text-transform: uppercase;
    font-size: 30px;
    background: var(--dark);
    color: var(--light);
}

.widget-box {
    flex: 1;
    background: var(--light2);
}

.widget-box .widget {
    background: var(--dark2);
    color: var(--light);
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

.red {
    background: var(--red);
}

.blue {
    background: var(--blue);
}

.green {
    background: var(--green);
}

.yellow {
    background: var(--yellow);
}

.joker {
    background: var(--joker);
}

/* -------------- */
/* Question Sheet */
/* -------------- */

.content-box {
    flex: 3;
    margin-right: 10px;
}

.content-box .container{
    height: 65vh;
    background: var(--light2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box .container img {
    height: 100%;
}

.question-box {
    flex: 1;
    margin-right: 10px;
    background: var(--light2);
}

.question-box .text {
    font-size: 25px;
    padding: 10px;
    text-transform: uppercase;
    color: var(--dark2)
}

.option-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 0;
}

.options {
    display: flex;
    height: 100%;
}

.options .option {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options .option span {
    color: var(--light);
    background: var(--dark2);
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

/* --------- */
/* Bar Sheet */
/* --------- */

.answer-box {
    flex: 1;
    margin-right: 10px;
    background: var(--light2);
}

.answer-box .answer {
    padding: 10px;
    padding-top: 0;
    font-size: 25px;
}

.answer-box .answer:nth-child(2) {
    padding-top: 10px;
}

.alert-box {
    flex: 1;
    margin-right: 10px;
    background: var(--light2);
}

.alert-box .alert {
    padding: 10px;
    font-size: 25px;
}

.bar-box {
    height: 100%;
    margin: 10px;
    margin-top: 0;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    background: var(--light2);
    overflow: hidden;
}

.bar-box .bars {
    display: flex;
    place-content: space-around;
    place-items: flex-end;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

.bar-box .bars .bar {
    width: 200px;
    box-shadow: 5px -5px 0px 0px black;
    animation: bar-up 1s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 95%;
}

.bar-box .bars .bar .text {
    color: var(--light);
    background: var(--dark2);
    font-size: 25px;
    padding: 5px;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    line-height: 30px;
}

@keyframes bar-up {
    0% {
        height: 50px;
    }
    100%{
        visibility: visible;
    }
}

/* ---------------- */
/* Scoreboard Sheet */
/* ---------------- */

.score-row {
    display: flex;
    height: 100%;
    margin: 10px;
}

.score-box {
    flex: 1;
    margin-right: 10px;
    background: var(--light2);
}

.score-box .scores {
    margin: 0 10px;
}

.score-box .scores .score {
    background: var(--dark2);
    color: var(--light);
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    display: flex;
}

.score-box .scores .score2 {
    background: var(--dark);
    color: var(--light);
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    display: flex;
}