.display-answer {
    width: 150px;
    height: 150px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: none;
}

.display-answer:hover{
    transform: translate(-5px, -5px);
    box-shadow: 10px 10px rgba(0, 0, 0, .2);
}

.host-answer {
    width: 500px;
    height: 150px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: none;
}

.red {
    background: #ae0000;
}

.blue {
    background: #5656d7;
}

.green {
    background: #197219;
}

.orange {
    background: #c6922f;
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: sticky;
    right: 400px;
    margin-top: 10px;
    margin-top: 10px;
}
.btn-one span {
    transition: all 0.3s;
}
.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
}
.btn-one:hover span {
    letter-spacing: 2px;
}
.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}
.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

.question-box {
    padding: 1em;
    position: absolute;
    top: 2px;
    background: rgba(0, 0, 0, 0.15);
    max-width: 60vw;
    max-height: 20em;
}

.question-box:before {
    content: '';
    position: absolute;
    top: -2px; left: 0;
    height: 2px; width: 100%;
    background: linear-gradient(to right, #35c3c1, #00d6b7);
}

.questions-box {
    position: absolute;
    bottom: 20px;
}

.question-box img {
    max-height: 16em;
    max-width: 58em;
}

.question-font {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 20px;
}

.login-box {
    padding: 2em;
    position: relative;
    background: rgba(0, 0, 0, 0.15);
    width: 50vw;
    max-width: 12em;
}

.login-box:before {
    content: '';
    position: absolute;
    top: -2px; left: 0;
    height: 2px; width: 100%;
    background: linear-gradient(to right, #35c3c1, #00d6b7);
}

.score-box {
    padding: 2em;
    position: relative;
    background: rgba(0, 0, 0, 0.15);
    width: 50vw;
    max-width: 25em;
}

.score-box:before {
    content: '';
    position: absolute;
    top: -2px; left: 0;
    height: 2px; width: 100%;
    background: linear-gradient(to right, #35c3c1, #00d6b7);
}

.error-box {
    padding: 2em;
    background: rgba(0, 0, 0, 0.15);
    width: 50vw;
    max-width: 12em;
    position: absolute;
    top: 100px;
}

.error-box:before {
    content: '';
    position: absolute;
    top: -2px; left: 0;
    height: 2px; width: 100%;
    background: linear-gradient(to right, #7a0000, #f80000);
}

.timer-text {
    animation: flicker 3s linear infinite;
    color: #920000;
    font-size: 50px;
    font-weight: 900;
    font-family: system-ui;
}

@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        opacity: .99;
        text-shadow: 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.4;
        text-shadow: none;
    }
}

.hidden {
    display: none;
}

.field-text {
    margin-bottom: 1em;
    display: flex;
}

.field-text input {
    padding: 1em;
    border: 0;
    color: #8f8f8f;
    font-size: 1rem;
    flex: 1;
    outline: none;
}

.field-button {
    display: block;
    padding: 10px;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#35c3c1), to(#00d6b7));
    background: linear-gradient(to right, #35c3c1, #00d6b7);
    border: 0;
    color: black;
    cursor: pointer;
    font-family: Monaco;
    font-size: 25px;
    font-weight: 100;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    outline: none;
}

.em1 {
    margin-top: 1em;
}

.host-box {
    padding: 2em;
    position: relative;
    background: rgba(0, 0, 0, 0.15);
    width: 50vw;
    max-width: 25em;
}

.host-box:before {
    content: '';
    position: absolute;
    top: -2px; left: 0;
    height: 2px; width: 100%;
    background: linear-gradient(to right, #35c3c1, #00d6b7);
}

.leaderboard {
    margin-bottom: 5px;
    background: #f34e4e;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: none;
    width: 100%;
    font-size: 15px;
}

.top-bar {
    padding: 40px 0;
    position: absolute;
    top: 2px;
    background: rgba(0, 0, 0, 0.15);
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.top-bar:before {
    content: '';
    position: absolute;
    top: -2px; left: 0;
    height: 2px; width: 100%;
    background: linear-gradient(to right, #35c3c1, #00d6b7);
}

.correct {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: #21971f24;
}

.incorrect {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: #ff000042;
}