.App {
  text-align: center;
  font-family: Monaco;
  font-weight: 100;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.lets-begin {
  padding: 10px;
  border: none;
  background: #32b3e6;
  font-size: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  margin: 10px;
}

.lets-begin > a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.name-box {
  background: white;
  width: 80vw;
  height: 40vh;
}

.button-holder {
  display: flex;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: #020916;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(farthest-corner at 30vw 20vh, #7397a1 1%, #3f2c41 100%);
}