body {
  margin: 0;
  font-family: sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg);
  height: 100vh;
}

button {
  font-family: sans-serif !important;
  padding: 10px;
  border: none;
  background: var(--dark);
  color: var(--light);
  font-size: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  margin: 10px;
}

button a {
  text-decoration: none;
  color: var(--light);
  padding: 10px;
}

:root {
  --blue: #205fff;
  --yellow: #efff1f;
  --green: #008014;
  --red: #7c0c00;
  --joker: #f68dbb;
  --bg: #2B4C6F;
  --light: #738CA6;
  --light2: #4A6B8A;
  --dark: #133253;
  --dark2: #041D37;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}